<!-- <app-navbar></app-navbar> -->
<!-- 
<div class="container" style="margin-top: 15px;">
      <div >
        
        <div>
  
          <div class="row">
            <button (click)="openItem(item)" class="btn btn-success" style="float: right;border-radius: 50%;width: 50px;height: 50px;"><i class="fa-solid fa-plus"></i></button>
                  <table class="table" id="myTable" style="border-left:1px solid black;border-right: 1px solid black;">
                    <thead>
                      <tr style="background-color: #313131; color: white">
                        <th scope="col">ITEM</th>
                        <th scope="col">KATEGORİ</th>
                        <th scope="col">MARKA</th>
                        <th scope="col">MODEL</th>
                        <th scope="col">MİKTAR/BİRİM</th>
                        <th scope="col">DURUM</th>
                        <th scope="col">TARİH</th>
                        <th scope="col">MALİYET</th>
                        <th scope="col">BİRİM</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of items">
                        <td> {{item.item_adi}} </td>
                        <td> {{item.kategori}} </td>
                        <td> {{item.marka}} </td>
                        <td> {{item.model}} </td>
                        <td> {{item.miktar_birim}} </td>
                        <td> {{item.durum}} </td>
                        <td> {{item.tarih|date:"shortDate"}} </td>
                        <td> {{item.maliyet}} </td>
                        <td> {{item.birim}} </td>
  
                      </tr>
                    </tbody>
                  </table>
  
  
            </div>
  
        </div>
      </div>
    </div> -->

  
            <!-- <button (click)="openItem(item)" class="btn btn-success" style="float: right;border-radius: 50%;width: 50px;height: 50px;"><i class="fa-solid fa-plus"></i></button> -->

            <div class="wrapper">
              <div class="title">
                İŞ KALEMLERİ
                <div class="line"></div>
              </div>
              <div class="container">
          <button (click)="openItem(item)" class="btn btn-success" style="float: left;width: 50px;height: 50px;margin-bottom:1rem"><i class="fa-solid fa-plus"></i></button>

                <div class="table">
                  <div class="search" style="margin-bottom: 3rem;">
                    <app-search-bar></app-search-bar>
                </div>
                  <table cellspacing="0" cellpadding="0">
                    <thead>
                      <tr>
                        <th scope="col">ITEM</th>
                        <th scope="col">KATEGORİ</th>
                        <th scope="col">MARKA</th>
                        <th scope="col">MODEL</th>
                        <th scope="col">MİKTAR/BİRİM</th>
                        <th scope="col">DURUM</th>
                        <th scope="col">TARİH</th>
                        <th scope="col">MALİYET</th>
                        <th scope="col">BİRİM</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of items">
                        <td> {{item.item_adi}} </td>
                        <td> {{item.kategori}} </td>
                        <td> {{item.marka}} </td>
                        <td> {{item.model}} </td>
                        <td> {{item.miktar_birim}} </td>
                        <td> {{item.durum}} </td>
                        <td> {{item.tarih|date:"shortDate"}} </td>
                        <td> {{item.maliyet}} </td>
                        <td> {{item.birim}} </td>
                      </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  


    <ng-template #item>
      <div class="wrapp">
        <div class="form">
            <h1 class="title">İş Kalemi Ekle</h1>
            <button type="button" class="btn-close" aria-label="Close" style="width: 30px;height:30px;position:absolute;right:0;top:0" (click)="modal.dismissAll()"></button>
   
            <form [formGroup]="itemForm" class="myform">
                <div class="control-from">
                    <label>Item Adi</label>
                    <input type="text" formControlName="item_adi" value="" required>
                </div>
   
                <div class="control-from">
                    <label>Kategori</label>
                    <input type="text" formControlName="kategori" value="" required>
                </div>
   
                <div class="control-from">
                    <label >Marka</label>
                    <input type="text" formControlName="marka" value="" required>
                </div>
   
                <div class="control-from">
                    <label>Model</label>
                    <input type="text" formControlName="model"  value="" required>
                </div>
   
                <div class="full-width">
                    <label >Miktar/Birim</label>
                    <input type="text" formControlName="miktar_birim" value="" required>
                </div>
   
                <div class="control-from">
                  <label>Statü</label>
                  <select formControlName="durum" style="margin-top: 3%;" class="form-select">
                    <option value="Stokta">Stokta</option>
                    <option value="Stokta Yok">Stokta Yok</option>
                    <option value="Taşıma Durumunda">Taşıma Durumunda</option>
                    <option value="Sipariş Verildi">Sipariş Verildi</option>
                  </select>
                </div>
   
                <div class="control-from">
                    <label>Tarih </label>
                    <input type="date" formControlName="tarih" value="" required>
                </div>

                <div class="control-from">
                    <label >Maliyet </label>
                    <input type="text" formControlName="maliyet"value="" required>
                </div>

                <div class="control-from">
                  <label>Birim</label>
                  <select class="form-select" formControlName="birim" >
                    <option value="₺">₺</option>
                    <option value="$">$</option>
                    <option value="€">€</option>
                  </select>
                </div>
   
                <div class="button">
                    <button (click)="saveItem()" id="register">Kaydet</button>
                </div>
   
            </form>
        </div>
    </div>

      </ng-template>