<div class="navbar card">

    <div class="mainnav" >
      <!-- <div [style.display]="navDisplay ? 'none' : 'block'" class="app-leftbar">
        <app-left-bar></app-left-bar>
      </div> -->
  
      <!-- styleları styles.css içinde -->
      <div class="navleft">
  
        <span class="mr-3">
            <span style="color:rgb(22, 21, 18)"> {{today.getUTCDate()}}</span>
            <span style="color:rgb(20, 19, 16)"> {{months[today.getUTCMonth()]}}</span>
        </span>
        <span class="mr-3">
          <a  style="text-decoration: none;color: black;">
            <!-- <i-feather name="home"></i-feather> -->
            <i class="fa fa plus"></i>
          </a>
        </span>
        <span>
          <!-- <img width="40px" src='../../../assets/bussionnewlogo.png'/> -->
        </span>
      </div>
    </div>
  </div>