
<div class="wrapper">
  <div class="title">
    PROJELER
    <div class="line"></div>
  </div>
  <div class="container">
    <button
      (click)="opens(project,'','insert')"
      class="btn btn-success"
      style="float: left; width: 50px; height: 50px; margin-bottom: 1rem"
    >
      <i class="fa-solid fa-file-circle-plus"></i>
    </button>

    <div class="table">
      <div class="search" style="margin-bottom: 3rem">
        <app-search-bar></app-search-bar>
      </div>
      <table cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th scope="col">Proje</th>
            <th scope="col">Kurum</th>
            <th scope="col">Durum</th>
            <th scope="col">Yetk. Müş.</th>
            <th scope="col">Proje Baş.</th>
            <th scope="col">Proje Bit.</th>
            <th scope="col">Fiyat</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of projects" (click)="openSavedModal(savedItems)" (click)="onRowClick(item.is_kalemi)">
            <td>{{ item.proje_adi }}</td>
            <td>{{ item.firma_adi }}</td>
            <td>{{ item.durum }}</td>
            <td>{{ item.must_yet_kisi }}</td>
            <td>{{ item.proje_basla | date : "shortDate" }}</td>
            <td>{{ item.proje_bitis | date : "shortDate" }}</td>
            <td>{{ item.maliyet }}</td>
            <td>
              <i
                (click)="opens(content,item,'update'); $event.stopPropagation()"
                style="cursor: pointer"
                class="fa-solid fa-pen-to-square"
              ></i
              ><i
                (click)="
                  deleteProjects(item.proje_id); $event.stopPropagation()
                "
                style="margin-left: 15%; cursor: pointer"
                class="fa-solid fa-trash"
              ></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #project>
  <div class="wrapp">
    <div class="form">
        <h1 class="title">Proje Ekle</h1>
        <button type="button" class="btn-close" aria-label="Close" style="width: 30px;height:30px;position:absolute;right:0;top:0" (click)="modal.dismissAll()"></button>
        <form [formGroup]="projectForm" class="myform">
            <div class="control-from">
                <label for="firstname">Proje Adi</label>
                <input type="text" formControlName="proje_adi" id="firstname" value="" required>
            </div>

            <div class="control-from">
                <label for="lastname">Kurum Adi</label>
                <input type="text" formControlName="firma_adi" id="lastname" value="" required>
            </div>

            <div class="control-from">
      <label class="form-control-label px-3"
        >Durum<span class="text-danger"> *</span></label
      >
      <select
        formControlName="durum"
        style="margin-top: 3%"
        class="form-select"
        name=""
        id=""
      >
        <option value="" disabled selected></option>
        <option value="Yeni">Yeni</option>
        <option value="Çalışılıyor">Çalışılıyor</option>
        <option value="Bekliyor">Bekliyor</option>
        <option value="Müşteri Bekleniyor">Müşteri Bekleniyor</option>
        <option value="Tamamlandı">Tamamlandı</option>
      </select>

            </div>

            <div class="control-from">
      <label class="form-control-label px-3"
        >Müşteri Yetkili Kişi<span class="text-danger"> *</span></label
      >
      <select
        formControlName="must_yet_kisi"
        style="margin-top: 3%"
        class="form-select"
        name=""
        id=""
      >
        <option value="" disabled selected></option>
        <option
          *ngFor="let item of musteriCombobox"
          value="musteri"
          [value]="item.ad"
        >
          {{ item.ad + " " + item.soyad }}
        </option>
      </select>

            </div>

            <div class="full-width">
                <label for="basla">Proje Başlama Tarihi</label>
                <input type="date" formControlName="proje_basla" id="basla" value="" required>
            </div>

            <div class="control-from">
                <label for="bitis">Proje Bitiş Tarihi</label>
                <input type="date" formControlName="proje_bitis" id="bitis" value="" required>
            </div>

            <div class="control-from">
                <label for="fiyat">Proje Fiyati </label>
                <input type="text" formControlName="maliyet" id="fiyat" value="" required>
            </div>


                <!-- <select
                formControlName="is_kalemi"
                style="margin-top: 3%"
                class="form-select"
                name=""
                id=""
              >
                <option
                *ngFor="let item of is_kalemi"
                [value]="item.item_id"
                >
                  {{ item.item_adi }}
                </option>
              </select> -->
            <div class="control-from">
                <label for="isk">Proje'ye Ait İş Kalemleri </label>
                <input type="text" formControlName="is_kalemi" id="isk" value="" required>
            </div>


            <div class="button">
                <button (click)="upsertProject()"  id="kaydet">Kaydet</button>
            </div>

        </form>
    </div>
</div>
</ng-template>

<ng-template #savedItems let-modal>
  <main>
        
    <!--MDB Tables-->
    <div class="mt-4">

        <div class=" mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                      <h2 class="pt-3 pb-4 text-center font-bold font-up deep-purple-text">{{ selectedItems[0]?.proje_adi }} Projesine Kayıtlı İş Kalemleri</h2>
                    </div>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>İş Kalemi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of selectedItems">
                            <th> {{item.is_kalemi}} </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
        </main>
</ng-template>

<ng-template #content let-modal>

  <div class="wrapp">
    <div class="form">
        <h1 class="title">Projeyi Güncelle</h1>
        <button type="button" class="btn-close" aria-label="Close" style="width: 30px;height:30px;position:absolute;right:0;top:0" (click)="modal.dismissAll()" ></button>
        <form [formGroup]="projectForm" class="myform">
            <div class="control-from">
                <label for="firstname">Proje Adi</label>
                <input  class="form-control" type="text" formControlName="proje_adi" id="firstname" value="" required>
            </div>

            <div class="control-from">
                <label for="lastname">Kurum Adi</label>
                <input class="form-control" type="text" formControlName="firma_adi" id="lastname" value="" required>
            </div>

            <div class="control-from">
      <label class="form-control-label px-3"
        >Durum<span class="text-danger"> *</span></label
      >
      <select
        class="form-control form-select"
        formControlName="durum"
        style="margin-top: 3%"
        class="form-select"
        name=""
        id=""
      >
        <option value="" disabled selected></option>
        <option value="Yeni">Yeni</option>
        <option value="Çalışılıyor">Çalışılıyor</option>
        <option value="Bekliyor">Bekliyor</option>
        <option value="Müşteri Bekleniyor">Müşteri Bekleniyor</option>
        <option value="Tamamlandı">Tamamlandı</option>
      </select>

            </div>

            <div class="control-from">
      <label class="form-control-label px-3"
        >Müşteri Yetkili Kişi<span class="text-danger"> *</span></label
      >
      <select
        class="form-control form-select"
        formControlName="must_yet_kisi"
        style="margin-top: 3%"
        class="form-select"
        name=""
        id=""
      >
        <option value="" disabled selected></option>
        <option
          *ngFor="let item of musteriCombobox"
          value="musteri"
          [value]="item.ad"
        >
          {{ item.ad + " " + item.soyad }}
        </option>
      </select>

            </div>

            <div class="full-width">
                <label for="basla">Proje Başlama Tarihi</label>
                <input class="form-control" type="date" formControlName="proje_basla" id="basla" value="" required>
            </div>

            <div class="control-from">
                <label for="bitis">Proje Bitiş Tarihi</label>
                <input class="form-control" type="date" formControlName="proje_bitis" id="bitis" value="" required>
            </div>

            <div class="control-from">
                <label for="fiyat">Proje Fiyati </label>
                <input class="form-control" type="text" formControlName="maliyet" id="fiyat" value="" required>
            </div>

            <div class="control-from">
              <label for="isk">Proje'ye Ait İş Kalemleri </label>
              <input type="text" formControlName="is_kalemi" id="isk" value="" required>
          </div>

            <div class="button">
                <button (click)="upsertProject()" id="kaydet">Güncelle</button>
            </div>

        </form>
    </div>
</div>
</ng-template>
