
<div class="wrapper">
  <div class="title">
    PROJELER
    <div class="line"></div>
  </div>
  <div class="container">
    <button
      (click)="opens(project,'','insert')"
      class="btn btn-success"
      style="float: left; width: 50px; height: 50px; margin-bottom: 1rem"
    >
      <i class="fa-solid fa-file-circle-plus"></i>
    </button>

    <div class="table">
      <div class="search" style="margin-bottom: 3rem">
        <!-- <app-search-bar></app-search-bar> -->
    <input [(ngModel)]="searchTerm" class="search__input" type="text" placeholder="Search">

      </div>
      <table cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th scope="col">Proje</th>
            <th scope="col">Kurum</th>
            <th scope="col">Durum</th>
            <th scope="col">Yetk. Müş.</th>
            <th scope="col">Proje Baş.</th>
            <th scope="col">Proje Bit.</th>
            <th scope="col">Fiyat</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of projects | search: searchTerm;" (click)="openSavedModal(savedItems,item)" >


            <td>{{ item.proje_adi }}</td>
            <td>{{ item.firma_adi }}</td>
            <td>{{ item.durum }}</td>
            <td>{{ item.must_yet_kisi }}</td>
            <td>{{ item.proje_basla | date : "shortDate" }}</td>
            <td>{{ item.proje_bitis | date : "shortDate" }}</td>
            <td>{{ item.maliyet }}</td>
            <td>
              <i
                (click)="opens(content,item,'update'); $event.stopPropagation()"
                style="cursor: pointer"
                class="fa-solid fa-pen-to-square"
              ></i
              ><i
                (click)="
                  deleteProjects(item.proje_id); $event.stopPropagation()
                "
                style="margin-left: 15%; cursor: pointer"
                class="fa-solid fa-trash"
              ></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<!-- PROJE GÜNCELLE -->
<ng-template #content let-modal>

  <div class="wrapp">
    <div class="form">
        <h1 class="title">Projeyi Güncelle</h1>
        <button type="button" class="btn-close" aria-label="Close" style="width: 30px;height:30px;position:absolute;right:0;top:0" (click)="modal.dismissAll()"></button>
        <form [formGroup]="projectForm" class="myform">
          <div class="buut">
            <button >STOK GÜNCELLE </button>
          </div>
          <br>
            <div class="control-from">
                <label for="firstname">Proje Adi</label>
                <input  class="form-control" type="text" formControlName="proje_adi" id="firstname" value="" required>
            </div>

            <div class="control-from">
                <label for="lastname">Kurum Adi</label>
                <input class="form-control" type="text" formControlName="firma_adi" id="lastname" value="" required>
            </div>

            <div class="control-from">
      <label class="form-control-label px-3"
        >Durum<span class="text-danger"> *</span></label
      >
      <select
        class="form-control form-select"
        formControlName="durum"
        style="margin-top: 3%"
        name=""
        id=""
      >
        <option value="Yeni">Yeni</option>
        <option value="Çalışılıyor">Çalışılıyor</option>
        <option value="Bekliyor">Bekliyor</option>
        <option value="Müşteri Bekleniyor">Müşteri Bekleniyor</option>
        <option value="Tamamlandı">Tamamlandı</option>
      </select>

            </div>

            <div class="control-from">
      <label class="form-control-label px-3"
        >Müşteri Yetkili Kişi<span class="text-danger"> *</span></label
      >
      <select
        class="form-control form-select"
        formControlName="must_yet_kisi"
        style="margin-top: 3%"
        name=""
        id=""
      >
        <option
          *ngFor="let item of musteriCombobox"
          value="musteri"
          [value]="item.ad"
        >
          {{ item.ad + " " + item.soyad }}
        </option>
      </select>

            </div>

            <div class="control-from">
              <label for="fiyat">Proje Satış Fiyatı </label>
              <input class="form-control" type="text" formControlName="maliyet" id="fiyat" value="" required>
          </div>

            <div class="full-width">
                <label for="basla">Proje Başlama Tarihi</label>
                <input class="form-control" type="date" formControlName="proje_basla" id="basla" value="" required>
            </div>

            <div class="control-from">
                <label for="bitis">Proje Bitiş Tarihi</label>
                <input class="form-control" type="date" formControlName="proje_bitis" id="bitis" value="" required>
            </div>

            <div class="control-from">
              <label for="firstname">Proje Kalemleri Toplam Fiyatı</label>
              <input  class="form-control" formControlName="toplam_item_fiyat" type="text" value="" required>
          </div>

          <div class="control-from">
              <label for="lastname">Açıklama</label>
              <input class="form-control" formControlName="aciklama" type="text"  value="" required>
          </div>

          <div class="control-from">
            <label for="lastname">Proje Kârı</label>
            <input class="form-control" formControlName="kar" type="text"  value="" required>
        </div>    

            <div class="button">
                <button (click)="upsertProject()" id="kaydet">Güncelle</button>
            </div>

        </form>
    </div>
</div>
</ng-template>



<!-- KAYITLI PROJELER -->
<ng-template #savedItems let-modal >
  <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem>
      <a ngbNavLink>Stok</a>
      <ng-template ngbNavContent>
        <div class="mt-4">

          <div class=" mb-4">
              <div class="card-body">
                  <div class="row">
                      <div class="col-md-12">
                        <h2 class="pt-3 pb-4 text-center font-bold font-up deep-purple-text">{{ selectedFinance[0].proje_adi }} Projesine Kayıtlı Stoklar </h2>
                      </div>
                  </div>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th> Stok Adi</th>
                        <th>Marka </th>
                        <th>Model</th>
                        <!-- <th>Birim</th>
                        <th>Aciklama</th> -->
                      </tr>
                    </thead>
                      <tbody>
                          <tr >
                              <td> </td>
                              <td>  </td>
                              <td>  </td>
                              <td>  </td>
                              <td>  </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
          </div>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Finans</a>
      <ng-template ngbNavContent>
    <div class="mt-4">

        <div class=" mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                      <h2 class="pt-3 pb-4 text-center font-bold font-up deep-purple-text">{{ selectedFinance[0].proje_adi }} Projesine Kayıtlı Finansal Bilgiler</h2>
                    </div>
                </div>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th> Tip</th>
                      <th>Tarih </th>
                      <th>Miktar</th>
                      <th>Birim</th>
                      <th>Aciklama</th>
                    </tr>
                  </thead>
                    <tbody>
                        <tr *ngFor="let item of selectedFinance">
                            <td> {{item.finans_tip}} </td>
                            <td> {{item.finans_tarih| date:"shortDate"}} </td>
                            <td> {{item.finans_miktar}} </td>
                            <td> {{item.finans_miktar}} </td>
                            <td> {{item.finans_aciklama}} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>

      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>

</ng-template>


<form [formGroup]="projectForm" >

<!-- PROJE EKLE -->
<ng-template #project> 

    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li ngbNavItem>
        <a ngbNavLink>Proje Ekle</a>
        <ng-template ngbNavContent>
          <div class="wrapp">
            <div class="form">
                <h1 class="title">Proje Genel Bilgileri</h1>
                <button type="button" class="btn-close" aria-label="Close" style="width: 30px;height:30px;position:absolute;right:0;top:0" (click)="closeModal()"></button>
              <div class="myform">
                    <div class="control-from">
                        <label for="firstname">Proje Adi</label>
                        <input type="text" formControlName="proje_adi" id="firstname" value="" required>
                    </div>
        
                    <div class="control-from">
                        <label for="lastname">Kurum Adi</label>
                        <!-- <input type="text" formControlName="firma_adi" id="lastname" value="" required> -->
                        <select formControlName="firma_adi" class="form-select">
                          <option *ngFor="let item of firmalar" [value]="item.sirket_adi"> {{item.sirket_adi}} </option>
                        </select>
                    </div>
        
                    <div class="control-from">
              <label class="form-control-label px-3"
                >Durum<span class="text-danger"> *</span></label
              >
              <select
                formControlName="durum"
                style="margin-top: 3%"
                class="form-select"
                name=""
                id=""
              >
                <option value="Yeni">Yeni</option>
                <option value="Çalışılıyor">Çalışılıyor</option>
                <option value="Bekliyor">Bekliyor</option>
                <option value="Müşteri Bekleniyor">Müşteri Bekleniyor</option>
                <option value="Tamamlandı">Tamamlandı</option>
              </select>
        
                    </div>
        
                    <div class="control-from">
              <label class="form-control-label px-3"
                >Müşteri Yetkili Kişi<span class="text-danger"> *</span></label
              >
              <select
                formControlName="must_yet_kisi"
                style="margin-top: 3%"
                class="form-select form-control"
                name=""
                id=""
              >
                <option
                  *ngFor="let item of musteriCombobox"
                  value="musteri"
                  [value]="item.ad"
                >
                  {{ item.ad + " " + item.soyad }}
                </option>
              </select>
        
                    </div>
        
                    <div class="full-width">
                        <label for="basla">Proje Başlama Tarihi</label>
                        <input type="date" formControlName="proje_basla" id="basla" value="" required>
                    </div>
        
                    <div class="control-from">
                        <label for="bitis">Proje Bitiş Tarihi</label>
                        <input type="date" formControlName="proje_bitis" id="bitis" value="" required>
                    </div>
        
                    <div class="control-from">
                      <label for="fiyat">Proje Satış Fiyati </label>
                      <input type="text" formControlName="maliyet" id="fiyat" value="" required>
                  </div>

                  <div class="control-from">
                    <label for="firstname">Proje Kalemleri Toplam Fiyatı</label>
                    <input  class="form-control" formControlName="toplam_item_fiyat" type="text" value="" required>
                </div>
    
                <div class="control-from">
                    <label for="lastname">Açıklama</label>
                    <input class="form-control" formControlName="aciklama" type="text"  value="" required>
                </div>

                <div class="control-from">
                  <label for="lastname">Proje Kârı</label>
                  <input class="form-control" formControlName="kar" type="text"  value="" required>
              </div>        
              <!-- <div class="buttonnnn" style="display:flex;justify-content:center">
                  <button (click)="upsertProject()"  id="kaydet">Kaydet</button>
              </div> -->
              </div>
            </div>
            
        </div>
        </ng-template>
      </li>

      <!-- 2. NAV ITEM -->
      <li ngbNavItem>
        <a ngbNavLink>Stok Ekranı</a>
        <ng-template  ngbNavContent style="background-color: #F4F5F7;">

  <!-- projeye item ekleme modalı 1 -->         
  <div style="font-family: 'Inconsolata', monospace;" class="form">
      <h2 class="title">Proje Stok Ekranı</h2>

      <button (click)="openprojestok(projestok)" class="btn btn-success" style="margin-left:2rem"><i class="fa-solid fa-plus"></i></button>

      <button type="button" class="btn-close" aria-label="Close" style="width: 30px;height:30px;position:absolute;right:0;top:0" (click)="closeModal()"></button>


  <div class="container" style="padding: 50px">
    <div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title m-b-0">Eklenen Stoklar</h5>
            </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead" style="background-color: #f4f5f6;">
                            <tr>
                                <th>
                                  #
                                </th>
                                <th scope="col">Stok Adi</th>
                                <th scope="col">Stok Miktari</th>
                                <th scope="col"> Maliyet</th>
                            </tr>
                        </thead>
                        <tbody class="customtable">
                            <tr *ngFor="let item of selectedItem;let i=index">
                                <th>
                                      <i style="cursor:pointer" class="fa-solid fa-xmark" (click)="uncheck(item)"></i>
                                </th>
                                <td> {{item.item_adi}} </td>
                                <!-- <td> {{item.miktar_birim}} </td> -->
                                <!-- <td > {{item.maliyet}} {{item.birim}} </td> -->
                                <td><input type="number" id=""></td>
                                <td> {{item.maliyet}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</div>
   </div> 
          <!-- <div class="button" style="padding: 12px">
            <button (click)="upsertProject()"  id="kaydet">Stoğu Kaydet</button>
        </div> -->


  </div>

        </ng-template>
      </li>
      <li ngbNavItem>
        <a ngbNavLink>Finans</a>
        <ng-template ngbNavContent>
          <div class="wrapp">
            <div class="form">
                <h1 class="title">Proje Finans Bilgileri</h1>
            <button (click)="upsertProject()" style="position:absolute;top:70px;left:25px" id="kaydet" class="btn btn-success"><i class="fa-solid fa-check"></i></button>
                <button type="button" class="btn-close" aria-label="Close" style="width: 30px;height:30px;position:absolute;right:0;top:0" (click)="closeModal()"></button>
              <div class="myform">
                <div class="row">
                     <div class="control-from">
                      <label for="fiyat">Tip </label>
                      <!-- <input formControlName="finans_tip" type="text" id="fiyat" value="" required> -->
                      <select formControlName="finans_tip" class="form-select">
                        <option value="alacak">Alacak</option>
                        <option value="borc">Borç</option>
                      </select>
                  </div>
        
                  <div class="control-from" style="margin-top: 2rem;">
                    <label for="fiyat">Miktar </label>
                    <input formControlName="finans_miktar" type="text" id="fiyat" value="" required>
                  </div>
                </div>
                
                <div class="row" >
                  <div class="control-from" >
                    <label for="bitis">Tarih</label>
                    <input formControlName="finans_tarih" type="date" id="bitis" value="" required>
                </div>
                  
                <div class="control-from" style="margin-top: 2rem;">
                  <label for="fiyat">Birim </label>
                  <select formControlName="finans_birim" class="form-select">
                    <option value="₺">₺</option>
                    <option value="$">$</option>
                    <option value="€">€</option>
                  </select>
              </div>
            </div>


                  
            <div class="row">
              <div class="control-from">
                    <label for="bitis">Açıklama</label>
                    <input formControlName="finans_aciklama" type="text" id="bitis" value="" required>
                </div>
            </div>
        </div>
        
        <div class="container" style="padding: 50px">
          <div class="row">
          <div class="col-12">
              <div class="card">
                  <div class="card-body text-center">
                      <h5 class="card-title m-b-0">Kayıtlı Girdi-Çıktılar</h5>
                  </div>
                      <div class="table-responsive">
                          <table class="table">
                              <thead class="thead" style="background-color: #f4f5f6;">
                                  <tr>
                                      <th scope="col">Tarih</th>
                                      <th scope="col"> Tip</th>
                                      <th scope="col">Miktar</th>
                                      <th scope="col">Birim</th>
                                      <th scope="col">Açıklama</th>
                                      <th scope="col"></th>
                                  </tr>
                              </thead>
                              <tbody class="customtable">
                                  <tr *ngFor="let item of addeditems">
                                    <td> {{item.finans_tip}} </td>
                                    <td> {{item.finans_tarih | date:"shortDate"}} </td>
                                    <td> {{item.finans_miktar}} </td>
                                    <td> {{item.finans_miktar}} </td>
                                    <td> {{item.finans_aciklama}} </td>
 
                                    <td>
                                    <i
                                    style="cursor: pointer"
                                    class="fa-solid fa-pen-to-square"
                                  ></i
                                  ><i
                                    style="margin-left: 15%; cursor: pointer"
                                    class="fa-solid fa-trash"
                                  ></i>
                                </td>
                                  </tr>
                                </tbody>
                          </table>
                      </div>
      
              </div>
              <!-- <button style="width:100px;position:absolute;left:45%" class="button btn-success" (click)="closeModal()" >Kaydet</button> -->
          </div>
      
          </div>
      </div>
      </div> 
          </div>
            
        </ng-template>
      </li>





    </ul>
    <div [ngbNavOutlet]="nav"></div>
</ng-template>


<ng-template class="modal" #projestok let-modal>
  <!-- <h2 class="title">Gerekli İtemleri Listeye Çek</h2> -->
  <div class="search">
<input  class="search__input" type="text" style="margin-top: 1rem;margin-right:1rem" placeholder="Search">
  </div>

  <div class="container" style="padding: 50px">
    <div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title m-b-0">Eklenecek Stoklar</h5>
            </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead" style="background-color: #f4f5f6;">
                            <tr>
                                <th>
                                  #
                                </th>
                                <th scope="col">Stok Adi</th>
                                <th scope="col">Marka</th>
                                <th scope="col"> Model</th>
                                <th scope="col">Stok Miktari</th>
                                <th scope="col">Birim Fiyat</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody class="customtable">
                            <tr *ngFor="let item of items;let i=index">
                                <th>
                                    <label class="customcheckbox">
                                      <input type="button" formArrayName="item_ids" [value]="item.item_id" (change)="onCheckboxChange($event, i)">
                                        <span class="checkmark"></span>
                                    </label>
                                </th>
                                <td> {{item.item_adi}} </td>
                                <td> {{item.marka}} </td>
                                <td> {{item.model}} </td>
                                <td> {{item.miktar_birim}} </td>
                                <td> {{item.maliyet}} {{item.birim}} </td>
                                <td><b style="color:green" *ngIf="item.miktar_birim!==0">stokta</b> <b style="color:red" *ngIf="item.miktar_birim==0">stokta yok</b> </td>
                                <td><button class="button btn-primary">sipariş</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

        </div>
        <button style="width:150px;position:absolute;left:45%" class="button btn-danger" (click)="modal.close('Ok click')" >Tamam</button>

    </div>
</div>
</div> 



</ng-template>
</form>
