<!-- <body>
  
  <div class="container">
    <div style="display: flex; justify-content: space-between;flex-wrap: wrap;">
      <button [routerLink]="['/table']">STOK</button>
      <button [routerLink]="['/customer']">MÜŞTERİ</button>
      <button [routerLink]="['/supplier']">TEDARİKÇİ</button>
      <button [routerLink]="['/project']">PROJE</button>
    </div>
  </div>

  <footer id="sticky-footer" class="flex-shrink-0 py-4 text-dark-50">
    <div class="container" style="display: flex;justify-content:center">
      <div class="logos" >
        <a href="https://www.ideateknoloji.com/"><img class="idea" src="../../../assets/README.png" alt="" /></a>
      <span class="separator"></span>
      </div>
      <div>
      powered by<a href="https://www.bussion.ai/">
        <img class="bussion" src="../../../assets/bussionnewlogo.png" alt="BussionAI"/></a>
      </div>
    </div>
  </footer>
  </body> -->



  <!-- <div class="col-lg-4">
    <div class="card mb-3">
      <div class="card-header">
        <div class="h1"> Kayıtlı Projeler</div>
      </div>
      <div class="card-body row">
        <div class="col" >
          <div class="icon icon4">
          </div>
          <div class="ml-1" style="display: flex;flex-direction: column;">

            <span style="margin-top: -10px;">All tasks</span>
          </div>
        </div>

      </div>
    </div>
  </div> -->



  <div class="ag-format-container">
    <div class="ag-courses_box">
      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            KAYITLI MÜŞTERİLER
          </div>
  
          <div class="ag-courses-item_date-box">
            Start:
            <span class="ag-courses-item_date">
              04.11.2022
            </span>
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            KAYITLI PROJE SAYISI
          </div>
  
          <div class="ag-courses-item_date-box">
            <span style="font-size: 50px;" class="ag-courses-item_date">
              {{projectCount}}
            </span>
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            KAYITLI TEDARİKÇİ SAYISI
          </div>
  
          <div class="ag-courses-item_date-box">
            Start:
            <span class="ag-courses-item_date">
              04.11.2022
            </span>
          </div>
        </a>
      </div>
      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            KAYITLI İŞ KALEMLERİ SAYISI
          </div>
  
          <div class="ag-courses-item_date-box">
            Start:
            <span class="ag-courses-item_date">
              04.11.2022
            </span>
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item" >
        <a href="#" class="ag-courses-item_link" style="height: 400px;">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            SON İŞLEMLER
          </div>
  
          <!-- <div class="ag-courses-item_date-box" style="height: 200px">
            Start:
            <span class="ag-courses-item_date">
              04.11.2022
            </span>
          </div> -->
        </a>
      </div>
  
    </div>
  </div>