@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');


.ag-format-container {
    width: 1142px;
    margin: 0 auto;
  }
  
  
  body {
    background-color: #000;
  }
  .ag-courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  
    padding: 50px 0;
  }
  .ag-courses_item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);
  
    margin: 0 15px 30px;
  
    overflow: hidden;
  
    border-radius: 28px;
  }
  .ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #302c2c;
    // width: 250px;
    overflow: hidden;
    position: relative;
  }

  .ag-courses-item_link:hover,
  .ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #FFF;
  }
  .ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
  }
  .ag-courses-item_title {
    min-height: 57px;
    margin: 0 0 25px;

    overflow: hidden;
  
    font-weight: bold;
    font-size: 20px;
    color: #FFF;
  
    z-index: 2;
    position: relative;
  }
  //card buyuklugu
  .ag-courses-item_date-box {
    // font-size: 50px;
    color: #FFF;
    // height: 50px;
  
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date {
    font-size: 30px;
    font-weight: bold;
    color: #f9b234;
  
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
  }
  .ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #f9b234;
  
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
  
    border-radius: 50%;
  
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }
  .ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #3ecd5e;
  }
  .ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #e44002;
  }
  .ag-courses_item:nth-child(4n) .ag-courses-item_bg {
    background-color: #952aff;
  }
  .ag-courses_item:nth-child(5n) .ag-courses-item_bg {
    background-color: #cd3e94;
  }
  .ag-courses_item:nth-child(6n) .ag-courses-item_bg {
    background-color: #4c49ea;
  }
  
  
  
  @media only screen and (max-width: 979px) {
    .ag-courses_item {
      -ms-flex-preferred-size: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
    }
    .ag-courses-item_title {
      font-size: 24px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 96%;
    }
  
  }
  @media only screen and (max-width: 639px) {
    .ag-courses_item {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    }
    .ag-courses-item_title {
      min-height: 72px;
      line-height: 1;
  
      font-size: 24px;
    }
    .ag-courses-item_link {
      padding: 22px 40px;
    }
    .ag-courses-item_date-box {
      font-size: 16px;
    }
  }

  a{
    text-decoration: none;
  }















  // .row {
//   // margin: 0 !important;

// }
.date {
  display: flex;
  flex-direction: column;
  border-right: 2px solid gray;
  justify-content: center;
  align-items: center;
}
// .col-lg-7,.col-lg-5{
//   padding: 0 !important;
// }

.col {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  height: 50px;
  display: flex;
  align-items: center;
}
.col span:nth-child(1) {
  font-weight: bolder;
  font-size: 25px;
}
.col span:nth-child(2) {
  font-weight: thin;
  font-size: 12px;
}
.date span:nth-child(1) {
  font-weight: bold;
  font-size: 1.8rem;
}
.date span:nth-child(2) {
  font-weight: thin;
  font-size: 1.2rem;
  margin-top: -15px;
}
.list ul li {
  list-style: none;
  height: 50px;
  display: flex;
  align-items: center;
}
.icon1 {
  color: #2a9d8f;
  background-color: rgba($color: #b9fbc0, $alpha: 0.6);
}
.icon2 {
  color: #c77dff;
  background-color: rgba($color: #cfbaf0, $alpha: 0.6);
}
.icon3{

  color: #e63946;
  background-color: rgba($color: #ffadad, $alpha: 0.6);
}
.icon4{

  color: #3320d8;
  background-color: rgba($color: #8b83d4, $alpha: 0.6);
}
.text{
  font-family: 'Nunito', sans-serif;
  color: #625f6e !important;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  border-radius: 5px;
  height: 40px;
}
.col img {
  width: 40px;
  border-radius: 5px;
  height: 40px;
  background-color: rgba($color: #223843, $alpha: 0.6);
}
.bussion img{
  width:100px;
  transition: all 1s ease-in-out;
}
.bussion img:hover{
  transform: rotate(360deg);
}


.pointer{
  cursor:pointer;
  box-shadow: 1px 2px;
  transition: all 0.5s ease-in-out;
}
.pointer:hover{
  background-color: #d9d9d9;
}