<div class="grey-bg container-fluid">
  <section id="minimal-statistics">
    <div class="row">
      <div class="col-12 mt-3 mb-1">
        <h4 class="text-uppercase">Hızlı Bakış</h4>
        <!-- <p>Statistics on minimal cards.</p> -->
      </div>
    </div>
    <div class="row">

      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card"  [routerLink]="['/supplier']">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="media-body text-left">
                  <h3 class="warning">156</h3>
                  <span> <b> Kayıtlı Tedarikçiler</b></span>
                </div>
                <div class="align-self-center">
                  <i class="icon-user warning font-large-2 float-right"></i>
                </div>
              </div>
              <div class="mt-1 mb-0" style="height: 7px;"></div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card" [routerLink]="['/item']">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="media-body text-left">
                  <h3 class="success">64</h3>
                  <span><b> Kayıtlı İş Kalemleri</b></span>
                </div>
                <div class="align-self-center">
                  <i class="icon-pencil success font-large-2 float-right"></i>
                </div>
              </div>
              <div class="mt-1 mb-0" style="height: 7px;"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card" [routerLink]="['/customer']">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="media-body text-left">
                  <h3 class="danger">423</h3>
                  <span><b>Kayıtlı Müşteriler </b></span>
                </div>
                <div class="align-self-center">
                  <i class="icon-user danger font-large-2 float-right"></i>
                </div>
              </div>
              <div class="mt-1 mb-0" style="height: 7px;">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card" [routerLink]="['/project']">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="media-body text-left">
                  <h3 class="primary">278</h3>
                  <span> <b> Kayıtlı Projeler</b></span>
                </div>
                <div class="align-self-center">
                  <i class="icon-book-open primary font-large-2 float-right"></i>
                </div>
              </div>
              <div class="mt-1 mb-0" style="height: 7px;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section id="stats-subtitle">

  <div class="row">
    <!-- <div class="col-xl-6 col-md-12"> -->
      <!-- <div class="card">
        <div class="card-content">
          <div class="card-body cleartfix">
            <div class="media align-items-stretch">
              <div class="align-self-center">
                <i class="icon-speech warning font-large-2 mr-2"></i>
              </div>
              <div class="media-body">
                <h4>Total Comments</h4>
                <span>Monthly blog comments</span>
              </div>
              <div class="align-self-center"> 
                <h1>84,695</h1>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    <!-- </div> -->


  <div class="col-xl-12 col-md-12" style="margin-top: 1rem;">
    <div class="card overflow-hidden">
      <div class="card-content">
        <div class="card-header">
          <div class="h3"> Son Eklenen Projeler</div>
        </div>
        <div class="card-body cleartfix">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Proje Adı</th>
                <th scope="col">Açıklama</th>
              </tr>
            </thead>
            <tbody>
              <tr >
                <td>adsaada</td>
                <td>asdsdadd</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


  <div class="row">
    <div class="col-xl-3 col-md-12">
 
    </div>
    <div class="col-xl-3 col-md-12">
 
    </div>
    <div class="col-xl-3 col-md-12">
 
    </div>

    <div class="col-xl-3 col-md-12" style="margin-top: 2rem">
      <div class=" overflow-hidden">
        <div class="content">
            <!-- <div class="card-header" style="text-align: center;">
              <div class="h3"> En Son Kullanılan</div>
            </div> -->
          <div class="card-body cleartfix">
            <h4 style="text-align: center;">En Son Kullanılan</h4>
            <hr>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>