<div class="wrapp">
    <div class="form">
        <h1 class="title">İş Kalemi Bilgilerini Güncelle</h1>
        <button type="button" class="btn-close" aria-label="Close" style="width: 30px;height:30px;position:absolute;right:0;top:0" (click)="modal.dismissAll()"></button>

        <form [formGroup]="itemForm" class="myform">
            <div class="control-from">
                <label>Item Adi</label>
                <input type="text" formControlName="item_adi" value="" required>
            </div>

            <div class="control-from">
                <label>Kategori</label>
                <input type="text" formControlName="kategori" value="" required>
            </div>

            <div class="control-from">
                <label >Marka</label>
                <input type="text" formControlName="marka" value="" required>
            </div>

            <div class="control-from">
                <label>Model</label>
                <input type="text" formControlName="model"  value="" required>
            </div>

            <div class="full-width">
                <label >Miktar/Birim</label>
                <input type="text" formControlName="miktar_birim" value="" required>
            </div>

            <div class="control-from">
              <label>Statü</label>
              <select formControlName="durum" style="margin-top: 3%;" class="form-select">
                <option value="Stokta">Stokta</option>
                <option value="Stokta Yok">Stokta Yok</option>
                <option value="Taşıma Durumunda">Taşıma Durumunda</option>
                <option value="Sipariş Verildi">Sipariş Verildi</option>
              </select>
            </div>

            <div class="control-from">
                <label>Tarih </label>
                <input type="date" formControlName="tarih" value="" required>
            </div>

            <div class="control-from">
                <label >Maliyet </label>
                <input type="text" formControlName="maliyet"value="" required>
            </div>

            <div class="control-from">
              <label>Birim</label>
              <select class="form-select" formControlName="birim" >
                <option value="₺">₺</option>
                <option value="$">$</option>
                <option value="€">€</option>
              </select>
            </div>

            <div class="button">
                <button  id="register">Güncelle</button>
            </div>

        </form>
    </div>