// @import "bourbon";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600);
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

a{
  text-decoration: none;
   transition:all 0.6s ease;
   font-family: 'Inconsolata', monospace;
   font-weight: 900;
  
  &:hover{
     transition:all 0.6s ease;
  }
}

.app{
  height: 100vh;
}
/* -------------
Sidebar
----------------*/
.sidebar {
  position: absolute;
  background-color:#14182a;
  //width: 33.3333%;
  width: 19em;
  height: 100%;
  top: 0;
  overflow:hidden;
  background-color: #787878;
  -webkit-transform: translateZ(0);
  visibility: visible;
  -webkit-backface-visibility: hidden;
  box-shadow:  1px 1px 3px 3px #787878;

  
  header{
    font-family: 'Great Vibes', cursive;
    // background-color: #09f;
    background-color:  #14182a;
    width: 100%;
    height: 120px;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0.75em	1em;
  }
}

/* -------------
Sidebar Nav
----------------*/
.sidebar-nav {
  padding-top: 4rem;
  position: fixed;
  //width: 13em;
  background-color: #14182a;
  height: 100%;
  font-weight: 400; 
  font-size: 1.2em;
  overflow: auto;
  padding-bottom: 6em;
  z-index: 9;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
 
  
  ul{
    list-style:none;
    display: block;
    padding: 0;
    margin: 0;
    
    li{
      margin-left: 0;
      padding-left: 0;
      //min-width: 13em;
      display:inline-block;
      width: 100%;
      
      a{
        color: rgba(226, 214, 214, 0.9);
        font-size: 1rem;
        padding: 1.05em	1em;
        position: relative;
        display:block;
        
        &:hover{
          background-color: rgba(136, 130, 130, 0.9);
          transition:all 0.6s ease;
        }
      }
/* -------------
Sidebar: icons
----------------*/
      i{
        font-size: 1.8em;
        padding-right: 0.5em;
        width: 9em;
        display: inline;
        vertical-align:middle;
      }  
    }
  }

/* -------------
Chev elements
----------------*/ 
  // & > ul > li > a:after {
  //   content: '\f125';
  //   font-family: ionicons;
  //   font-size: 0.5em;
  //   width: 10px;
  //   color: #fff;
  //   position: absolute;
  //   right: 0.75em;
  //   top: 45%;
  // }
/* -------------
Nav-Flyout
----------------*/
  & .nav-flyout {
    position: absolute;
    background-color: #080D11;
    z-index: 9;
    left: 2.5em;
    top: 0;
    height: 100vh;
    transform:translateX(100%);
    transition:all 0.5s ease;
    
    a:hover{
      background-color: rgba(255,255,255, 0.05)
    }
  }

/* -------------
Hover
----------------*/
  & ul > li:hover{
      .nav-flyout{
      transform:translateX(0);
        transition:all 0.5s ease;
    }
  }
}




.sidebar-nav ul li a:active {
  color: rgb(249, 249, 255);
  font-weight: bold;
}