

  <button class="button btn-primary togglebut" style="  width: 50px;" (click)="toggleNavi()"><i class="fa-solid fa-bars"></i> </button>

<section class="app">
  <aside [style.display]="navDisplay ? 'none' : 'block'" class="sidebar" >
         <header class="font-weight-bold">
          <img style="width: 200px" src="../../../assets/mepa-enerji-logo.png" alt="">
      </header>
    <nav class="sidebar-nav" >
 
      <ul>
        <li>
          <a [routerLink]="['/home']" routerLinkActive="active"><i class="fa-solid fa-house"></i><span style="margin-left:1.5em">Anasayfa</span></a>

        </li>
        <li>
          <a [routerLink]="['/supplier']"><i class="fa-solid fa-truck-field"></i><span style="margin-left:1.5em" class="">Tedarikçiler</span></a>

        </li>
        <li>
          <a [routerLink]="['/customer']"><i class="fa-solid fa-users"></i> <span style="margin-left:1.5em" class="">Müşteriler</span></a>

        </li>
        <li>
          <a [routerLink]="['/item']"><i class="fa-solid fa-pen"></i> <span style="margin-left: 2em;" class="">Stoklar</span></a>

        </li>
        <li>
          <a [routerLink]="['/project']"><i class="fa-regular fa-file-lines"></i> <span style="margin-left: 2.5em;" class="">Projeler</span></a>

        </li>

      </ul>
    </nav>
  </aside>
</section>