@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
/*
#################################################
This is part of the UI framework being developed.
#################################################
*/
//---------
$gray0: #F6F8FF;
$primary: #636983;
$transition: all .2s;
$gray1: #fbfbfb;


.title {
  text-align:center;
  // padding: 40px 0;
  font-size: 40px;
  font-weight: 300;
  color: $primary;
}

.wrapper {
  // background-color: $gray0;
  width: 100%;
  min-height: 100vh;
  
  .line {
    width: 100%;
    margin: 50px auto 0 auto;
    height: 1px;
  }
}

.table {
  width: 100%;
  margin: 0 auto;
  
  .header{
    font-size: 16px;
    font-weight: 400;
  }
  
  table {
    width: 100%;
    font-size: 16px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 25px 20px -25px rgb(0 0 0 / 10%);
    
    input.search{
      width: 100%;
      padding: 8px;
      box-sizing: border-box;
      border-radius: 10px;
      border: 0;
      outline: 1px solid #efefef;
      background: $gray1;
      transition: $transition;
      
      &:focus{
        outline: 2px solid #1f74ff;
        background: white;
      }
    }
    thead {
      // background-color: $gray1;
      border-spacing: 0;
      
      td {
        font-size: 18px;
        font-weight: 600;
        color: #666;
        padding: 10px;
      }
      
      tr:nth-child(1){
         background-color: $gray1;
         background: linear-gradient(180deg, rgba(251,251,251,1) 0%, rgba(251,251,251,1) 89%, rgba(237,237,237,1) 100%);
        
        td:nth-child(1){
          border-radius: 10px 0 0 0;
        }
        
        td:nth-last-child(1){
          border-radius: 0 10px 0 0;
          
        }
      }
    }
    tbody{
      tr {
        transition: $transition;
        
        td {
          padding: 10px;
          color: #666;
        }
        
        &:hover {
          transform: translateY(-2px);
          box-shadow: 0 10px 20px -15px rgb(0 0 0 / 4%);
          background-color: #ededed1c;
        }
        &.success{
          td {
            color: #46c93a;
            background: #e8f5e7;
          }
        }
        &.primary{
          td {
            color: #1f74ff;
            background: #d4e4ff;
          }
        }
      }
    }
    tfoot {
      tr td {
        border-radius: 0 0 10px 10px;
      }
      tr td {
        padding: 3px 10px;
        background-color: $gray1;
        background: linear-gradient(0deg, rgba(251,251,251,1) 0%, rgba(251,251,251,1) 89%, rgba(237,237,237,1) 100%);
        text-align: right;
      }
    }
  }
}

.pagination {
  display: flex;
  position: relative;
  right: 10px;
  justify-content: flex-end;
  gap: 5px;
  
  .page {
    width: 10px;
    height: 30px;
    flex-basis: 30px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 6px;
    background: #f0f3f4;
    border-radius: 7px;
    color: $primary;
    cursor: pointer;
    
    &.active {
      background-color: #1f74ff;
      color: white;
      font-weight: 600;
    }
    
    &:hover {
      
    }
  }
}

@media (max-width: 700px) {
  .table {
    width: 90%;
  }
}