
            <div class="wrapper">
              <div class="title">
                MÜŞTERİLER
                <div class="line"></div>
              </div>
              <div class="container">
            <button (click)="openCustomer(customer)" class="btn btn-success" style="float: left;width: 50px;height: 50px;margin-bottom:1rem"><i class="fa-solid fa-plus"></i></button>
                
                <div class="table">
                  <div class="search" style="margin-bottom: 3rem">
                    <!-- <app-search-bar></app-search-bar> -->
                <input class="search__input" type="text" placeholder="Search">
            
                  </div>
                  <table cellspacing="0" cellpadding="0">
                    <thead>
                      <tr>
                        <th scope="col">Şirket Adı</th>
                        <th scope="col">Ad</th>
                        <th scope="col">Soyad</th>
                        <th scope="col">Adres</th>
                        <th scope="col">Telefon</th>
                        <th scope="col">Email</th>
                        <th scope="col">Vergi Dairesi</th>
                        <th scope="col">Vergi No</th>
                        <th scope="col">Açıklama</th>
                        <!-- <th scope="col">Yetkili Kişi</th> -->
                        <th scope="col">Unvan</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of customers">
                        <td > {{item.sirket_adi}} </td>
                        <td>{{item.ad}}</td>
                        <td> {{item.soyad}} </td>
                        <td> {{item.adres}} </td>
                        <td> {{item.tel}} </td>
                        <td> {{item.email}} </td>
                        <td> {{item.vergi_dairesi}} </td>
                        <td> {{item.vergi_no}} </td>
                        <td> {{item.aciklama}} </td>
                        <!-- <td> {{item.yetkili}} </td> -->
                        <td> {{item.unvan}} </td>
                        <td>
                          <i
                            (click)="openUpdateCustomer()"
                            style="cursor: pointer"
                            class="fa-solid fa-pen-to-square"
                          ></i>
                          <i
                            (click)="
                              deleteCustomer(item.id);
                            "
                            style="margin-left: 15%; cursor: pointer"
                            class="fa-solid fa-trash"
                          ></i>
                        </td>
                      </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

    

    <ng-template #customer>
      <div class="wrapp">
        <div class="form">
            <h1 class="title">Müşteri Ekle</h1>
            <button type="button" class="btn-close" aria-label="Close" style="width: 30px;height:30px;position:absolute;right:0;top:0" (click)="modal.dismissAll()"></button>
            
            <form [formGroup]="customerForm" class="myform">
   
                <div class="control-from">
                    <label for="lastname">Ad</label>
                    <input type="text" formControlName="ad" id="lastname" value="" required>
                </div>

                <div class="control-from">
                  <label for="emailaddress">Soyad</label>
                  <input type="text" formControlName="soyad" id="emailaddress" value="" required>
              </div>

                <div class="control-from">
                  <label for="firstname">Şirket Adı</label>
                  <input type="text" formControlName="sirket_adi" id="firstname" value="" required>
              </div>
   
                <div class="control-from">
                    <label for="phonenumber">Adres</label>
                    <input type="text" formControlName="adres" id="phonenumber" value="" required>
                </div>
   
                <div class="full-width">
                    <label for="companyname">Telefon</label>
                    <input type="tel" formControlName="tel" id="companyname" value="" required>
                </div>
   
                <div class="control-from">
                    <label for="businesscategory">E-mail</label>
                    <input type="email" formControlName="email" id="businesscategory" value="" required>
                </div>
   
                <div class="control-from">
                    <label for="location">Vergi Dairesi </label>
                    <input type="text" formControlName="vergi_dairesi" id="location" value="" required>
                </div>

                <div class="control-from">
                    <label for="location">Vergi Numarası </label>
                    <input type="text" formControlName="vergi_no" id="location" value="" required>
                </div>

                <div class="control-from">
                    <label for="location">Açıklama </label>
                    <textarea type="text" formControlName="aciklama" id="location" value="" required></textarea>
                </div>

                <!-- <div class="control-from">
                    <label for="location">Yetkili </label>
                    <input type="text" formControlName="yetkili" id="location" value="" required>
                </div> -->

                <div class="control-from">
                    <label for="location">Unvan </label>
                    <input type="text" formControlName="unvan" id="location" value="" required>
                </div>
   
                <div class="button">
                    <button (click)="saveCustomer()" id="register">Kaydet</button>
                </div>
   
            </form>
        </div>
    </div>

    </ng-template>